<footer  id="myFoot" class="footer-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div id="CF" class="col-lg-6 col-lg-offset-3">
                            
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-md-12 col-sm-2">
                            <p class="copy">&copy; Anes. <br>All rights reserved.</p>
                            <p>CodeReview 7</p>
                            <ul class="icons">
                                <li>
                                    <a href="#">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="fa fa-facebook" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="fa fa-instagram" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="fa fa-twitter" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </div>
                </div>
            </footer>