<div class="container">
	
<div class="panel panel-info">
  
  <div class="panel-heading"><h1>Important Numbers</h1></div>
  <div class="panel-body">
    <h3>Emergency Phone Numbers</h3>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
    	<th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Name</th>
    	<th><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Number</th>
    </tr>
    <tr>
    	<td>Police</td>
    	<td>+43 133</td>
    </tr>
    <tr>
    	<td>Fire department</td>
    	<td>+43 122</td>
    </tr>
    <tr>
    	<td>Ambulance</td>
    	<td>+43 144</td>
    </tr>
    <tr>
    	<td>Air-Glaciers</td>
    	<td>+43 1414</td>
    </tr>
  </table>
</div>
</div>