<div class="container-fluid">
	

<div class="row">
	<h1>The new generation of phone books</h1>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="src/assets/img/iphone.jpg" alt="">
      <div class="caption">
        <h3>IOS Phone book</h3>
        <p>Most people pack the default iPhone address book app — called Contacts — with tons of contact information. 	From phone numbers and mailing addresses to email addresses and instant messaging screen names, there's a lot of information to manage. While the Contacts app may seem pretty straightforward, there are some less well-known features that you should get to know...</p>
        <p><a href="#" class="btn btn-primary" role="button">Read more</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="src/assets/img/samsung.jpg"  alt="">
      <div class="caption">
        <h3>Android Phone book</h3>
        <p>To peruse your Android phone’s address book, open the People or Contacts app. You may find a launcher icon on the Home screen, but you’ll certainly find the app in the apps drawer.

		The figure shows the People app on a typical Android phone. The address book on your phone may look subtly different, but most of the items illustrated in the figure should be there...</p>
        <p><a href="#" class="btn btn-primary" role="button">Read more</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="src/assets/img/telefonbuch.jpg"  alt="...">
      <div class="caption">
        <h3>Old but gold</h3>
        <p>WhitePages service covers over 90% of the US Adult population and includes more than 200M individuals. We just about have every US resident available to people online. If you have access to the internet, you don’t need a phone book.
We’ve been expanding our services into cell phones. You can now access our information on all iPhone, Android and BlackBerry phones...</p>
        <p><a href="#" class="btn btn-primary" role="button">Read more</a> 
      </div>
    </div>
  </div>
</div>
</div>